---
import Section from "../Section.astro"

import { skills } from "@cv"
---

<Section title="Habilidades" data-section="skills">
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<!-- 
  NOTE: This component is not currently used. 
  Styles have been moved to ResumeContent.css for the Preact component.
  Keeping this file for reference but styles are disabled to avoid conflicts.
-->
<style>
  /* Styles disabled - using ResumeContent.css instead */
</style>
