---
import Layout from "@/layouts/Layout.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
import ResumeApp from "@/components/ResumeApp"
import cvEs from "../../public/cv.json"
import cvEn from "../../public/cv.en.json"
import type { CV } from "@/cv.d"

const cvEsTyped = cvEs as unknown as CV
const cvEnTyped = cvEn as unknown as CV
const { name, label } = cvEsTyped.basics
---

<Layout title={`${name} - ${label}`}>
  <main>
    <ResumeApp cvEs={cvEsTyped} cvEn={cvEnTyped} client:load />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
