.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-width: 700px;
  margin: 0 auto 48px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 32px;
}

.hero-info h1 {
  font-size: 2rem;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero-info h2 {
  color: #444;
  font-weight: 500;
  font-size: 1.1rem;
  text-wrap: balance;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero-info img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 128px;
  border-radius: 16px;
}

.hero-info span {
  color: #666;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.85rem;
  letter-spacing: -0.05rem;
}

.hero-info footer {
  color: #555;
  font-size: 0.65rem;
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.hero-info footer a {
  color: #777;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 4px;
  height: 32px;
  width: 32px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.hero-info footer a:hover {
  background: #eee;
  border: 1px solid #ddd;
}


.hero-container figure {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.hero-container figure img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 128px;
  height: 128px;
  border-radius: 16px;
  display: block;
}

@media print {
  .no-print {
    display: none !important;
  }
}

.print {
  display: none !important;
}

@media print {
  .print {
    display: block !important;
  }
}

